<Layouts.app {assigns}>
  <.admin_page active_tab={@active_tab}>
    <MydiaWeb.AdminCustomFormatsLive.Components.custom_formats_tab formats={@formats} />

    <%!-- Custom Format Modal --%>
    <%= if assigns[:show_custom_format_modal] do %>
      <MydiaWeb.AdminCustomFormatsLive.Components.custom_format_modal
        custom_format_form={@custom_format_form}
        custom_format_mode={@custom_format_mode}
        editing_custom_format={@editing_custom_format}
        test_results={@test_results}
      />
    <% end %>
  </.admin_page>
</Layouts.app>
