<Layouts.app {assigns}>
  <.admin_page active_tab={@active_tab}>
    <MydiaWeb.AdminCustomFormatsLive.Components.custom_formats_tab formats={@formats} />

    <%!-- Custom Format Modal --%>
    <%= if @editing do %>
      <MydiaWeb.AdminCustomFormatsLive.Components.custom_format_modal
        editing={@editing}
        form={@form}
        test_results={@test_results}
      />
    <% end %>
  </.admin_page>
</Layouts.app>
