<Layouts.app {assigns}>
  <.admin_page active_tab={@active_tab}>
    <MydiaWeb.AdminQualityProfilesLive.Components.quality_profiles_tab
      quality_profiles={@quality_profiles}
      default_quality_profile_id={@default_quality_profile_id}
    />

    <%!-- Quality Profile Modal --%>
    <%= if assigns[:show_quality_profile_modal] do %>
      <MydiaWeb.AdminQualityProfilesLive.Components.quality_profile_modal
        quality_profile_form={@quality_profile_form}
        quality_profile_mode={@quality_profile_mode}
        quality_profile_active_tab={@quality_profile_active_tab}
        custom_formats={@custom_formats}
        custom_format_assignments={@custom_format_assignments}
      />
    <% end %>

    <%!-- Quality Profile Delete Confirm Modal --%>
    <%= if assigns[:show_delete_profile_modal] do %>
      <MydiaWeb.AdminQualityProfilesLive.Components.quality_profile_delete_confirm_modal
        profile_to_delete={@profile_to_delete}
        affected_media_count={@affected_media_count}
      />
    <% end %>

    <%!-- Import Quality Profile Modal --%>
    <%= if assigns[:show_import_modal] do %>
      <MydiaWeb.AdminQualityProfilesLive.Components.import_modal import_error={
        assigns[:import_error]
      } />
    <% end %>

    <%!-- Browse Presets Modal --%>
    <%= if assigns[:show_browse_presets_modal] do %>
      <MydiaWeb.AdminQualityProfilesLive.Components.browse_presets_modal
        presets={assigns[:browse_presets] || []}
        selected_category={assigns[:browse_presets_category] || :all}
      />
    <% end %>
  </.admin_page>
</Layouts.app>
