<Layouts.app {assigns}>
  <.admin_page page={:quality} count={length(@quality_profiles)}>
    <:actions>
      <MydiaWeb.AdminQualityProfilesLive.Components.header_actions />
    </:actions>
    <MydiaWeb.AdminQualityProfilesLive.Components.quality_profiles_tab
      quality_profiles={@quality_profiles}
      default_quality_profile_id={@default_quality_profile_id}
    />

    <%= if assigns[:show_quality_profile_modal] do %>
      <MydiaWeb.AdminQualityProfilesLive.ModalComponents.quality_profile_modal
        quality_profile_form={@quality_profile_form}
        quality_profile_mode={@quality_profile_mode}
        quality_profile_active_tab={@quality_profile_active_tab}
        custom_formats={@custom_formats}
        custom_format_assignments={@custom_format_assignments}
      />
    <% end %>

    <%= if assigns[:show_delete_quality_profile_modal] do %>
      <MydiaWeb.AdminQualityProfilesLive.ModalComponents.quality_profile_delete_confirm_modal
        deleting_quality_profile={@deleting_quality_profile}
        affected_media_count={@affected_media_count}
      />
    <% end %>

    <%= if assigns[:show_import_quality_profile_modal] do %>
      <MydiaWeb.AdminQualityProfilesLive.ModalComponents.import_modal import_quality_profile_error={
        assigns[:import_quality_profile_error]
      } />
    <% end %>

    <%= if assigns[:show_quality_profile_presets_modal] do %>
      <MydiaWeb.AdminQualityProfilesLive.PresetsComponents.browse_presets_modal
        presets={assigns[:quality_profile_presets] || []}
        selected_category={assigns[:quality_profile_presets_category] || :all}
      />
    <% end %>
  </.admin_page>
</Layouts.app>
