<Layouts.app {assigns}>
  <.admin_page page={:settings}>
    <Components.general_settings_tab
      config_settings_with_sources={@config_settings_with_sources}
      crash_report_stats={@crash_report_stats}
      invalid_config_settings={@invalid_config_settings}
      hwaccel={@hwaccel}
      language_settings={@language_settings}
      player_enabled?={@player_enabled?}
    />
  </.admin_page>
</Layouts.app>
