<Layouts.app {assigns}>
  <.admin_page active_tab={@active_tab}>
    <Components.general_settings_tab
      config_settings_with_sources={@config_settings_with_sources}
      crash_report_stats={@crash_report_stats}
    />
  </.admin_page>
</Layouts.app>
