<Layouts.app {assigns}>
  <.admin_page page={:users} count={length(@users)}>
    <:actions>
      <MydiaWeb.AdminUsersLive.Components.header_actions />
    </:actions>

    <MydiaWeb.AdminUsersLive.Components.users_tab
      users={@users}
      current_user={@current_user}
      search_query={@search_query}
      filter_role={@filter_role}
    />

    <MydiaWeb.AdminUsersLive.ModalComponents.create_user_modal
      :if={assigns[:show_create_modal]}
      create_form={@create_form}
      generated_password={@generated_password}
      password_mode={@password_mode}
      show_password={@show_password}
    />

    <MydiaWeb.AdminUsersLive.ModalComponents.edit_role_modal
      :if={assigns[:show_edit_role_modal] && @selected_user}
      user={@selected_user}
      form={@edit_role_form}
    />

    <MydiaWeb.AdminUsersLive.ModalComponents.reset_password_modal
      :if={assigns[:show_reset_password_modal] && @selected_user}
      user={@selected_user}
      form={@reset_password_form}
      generated_password={@generated_password}
      password_mode={@password_mode_reset}
      show_password={@show_password_reset}
      success={@password_reset_success}
    />

    <MydiaWeb.AdminUsersLive.ModalComponents.delete_user_modal
      :if={assigns[:show_delete_modal] && @selected_user}
      user={@selected_user}
    />

    <MydiaWeb.AdminUsersLive.ModalComponents.access_modal
      :if={assigns[:show_access_modal]}
      user={@access_user}
      restriction={@access_restriction}
      unrated_count={@unrated_count}
    />
  </.admin_page>
</Layouts.app>
