<Layouts.app {assigns}>
  <.admin_page active_tab={@active_tab}>
    <MydiaWeb.AdminPathMappingsLive.Components.path_mappings_tab path_mappings={@path_mappings} />

    <%= if @show_modal do %>
      <MydiaWeb.AdminPathMappingsLive.Components.path_mapping_modal
        form={@form}
        mode={@mode}
        remote_suggestions={@remote_suggestions}
        local_suggestions={@local_suggestions}
      />
    <% end %>
  </.admin_page>
</Layouts.app>
