<Layouts.app {assigns}>
  <.admin_page page={:path_mappings} count={length(@path_mappings)}>
    <:actions>
      <MydiaWeb.AdminPathMappingsLive.Components.header_actions />
    </:actions>
    <MydiaWeb.AdminPathMappingsLive.Components.path_mappings_tab path_mappings={@path_mappings} />

    <%= if assigns[:show_path_mapping_modal] do %>
      <MydiaWeb.AdminPathMappingsLive.Components.path_mapping_modal
        path_mapping_form={@path_mapping_form}
        path_mapping_mode={@path_mapping_mode}
        remote_suggestions={@remote_suggestions}
        local_suggestions={@local_suggestions}
      />
    <% end %>
  </.admin_page>
</Layouts.app>
