<Layouts.app {assigns}>
  <.admin_page active_tab={@active_tab}>
    <MydiaWeb.AdminSystemLive.Components.status_tab
      system_info={@system_info}
      database_info={@database_info}
      library_paths_count={@library_paths_count}
      download_clients_count={@download_clients_count}
      indexers_count={@indexers_count}
      active_sessions={@active_sessions}
      active_jobs={@active_jobs}
      recent_activity={@recent_activity}
    />
    <%!-- FlareSolverr Status (External Services) --%>
    <div class="px-4 sm:px-6 pb-6">
      <div class="divider">External Services</div>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 sm:gap-8">
        <MydiaWeb.FlareSolverrStatusComponent.flaresolverr_status_card flaresolverr_status={
          @flaresolverr_status
        } />
      </div>
    </div>
  </.admin_page>
</Layouts.app>
