<Layouts.app {assigns}>
  <div class="p-4 sm:p-6">
    <.admin_header
      title="Import Lists"
      description="Lists that add media automatically"
      count={length(@import_lists)}
    >
      <:actions><MydiaWeb.AdminImportListsLive.Components.header_actions /></:actions>
    </.admin_header>

    <MydiaWeb.AdminImportListsLive.Components.import_lists_tab
      import_lists={@import_lists}
      presets={@presets}
      configured_presets={@configured_presets}
      syncing_list_id={@syncing_list_id}
    />
  </div>

  <%= if assigns[:show_import_list_modal] do %>
    <MydiaWeb.AdminImportListsLive.ModalComponents.import_list_modal
      import_list_form={@import_list_form}
      import_list_mode={@import_list_mode}
      selected_list={@selected_list}
      quality_profiles={@quality_profiles}
      library_paths={@library_paths}
      manual_collections={@manual_collections}
    />
  <% end %>
  <%= if assigns[:show_preset_confirm_modal] and @pending_preset_id do %>
    <MydiaWeb.AdminImportListsLive.ModalComponents.preset_confirm_modal pending_preset_id={
      @pending_preset_id
    } />
  <% end %>
  <%= if assigns[:show_import_list_items_modal] and @selected_list do %>
    <MydiaWeb.AdminImportListsLive.ItemsComponents.import_list_items_modal
      selected_list={@selected_list}
      items={@items}
      items_filter={@items_filter}
    />
  <% end %>
</Layouts.app>
