<Layouts.app {assigns}>
  <.admin_page page={:duplicates} count={length(@decisions)}>
    <:actions>
      <MydiaWeb.AdminDuplicatesLive.Components.header_actions
        decisions={@decisions}
        selected={@selected}
        reclaimable={@reclaimable}
      />
    </:actions>

    <MydiaWeb.AdminDuplicatesLive.Components.duplicates_tab
      decisions={@decisions}
      refusals={@refusals}
      selected={@selected}
      retention_days={@retention_days}
      suspects={@suspects}
      returning={@returning}
      overridden?={@review_overrides != %{}}
      current_scope={@current_scope}
    />

    <%= if assigns[:show_trash_duplicates_modal] do %>
      <MydiaWeb.AdminDuplicatesLive.Components.trash_confirm_modal
        count={MapSet.size(@selected)}
        items={@affected_items}
        bytes={@reclaimable}
        retention_days={@retention_days}
      />
    <% end %>

    <%= if assigns[:show_send_to_review_modal] do %>
      <MydiaWeb.AdminDuplicatesLive.ReviewComponents.review_confirm_modal
        count={MapSet.size(@returning)}
        items={@returning_items}
      />
    <% end %>

    <MydiaWeb.AdminDuplicatesLive.Components.run_toast :if={@last_run} run={@last_run} />
  </.admin_page>
</Layouts.app>
