<Layouts.app {assigns}>
  <.admin_page page={:jobs}>
    <:actions>
      <MydiaWeb.JobsLive.Components.header_actions />
    </:actions>

    <MydiaWeb.JobsLive.Components.jobs_tab
      cron_jobs={@cron_jobs}
      job_history={@job_history}
      has_more={@has_more}
      filter_worker={@filter_worker}
      filter_state={@filter_state}
    />

    <%= if @selected_job do %>
      <MydiaWeb.JobsLive.Components.job_details_modal job={@selected_job} />
    <% end %>

    <%= if @trigger_job_worker do %>
      <MydiaWeb.JobsLive.Components.trigger_job_modal worker={@trigger_job_worker} />
    <% end %>
  </.admin_page>
</Layouts.app>
