<Layouts.app {assigns}>
  <.admin_page page={:dashboard}>
    <MydiaWeb.AdminDashboardLive.Components.dashboard_tab
      active_sessions={@active_sessions}
      background_jobs={@background_jobs}
      recent_activity={@recent_activity}
      last_play_at={@last_play_at}
      plays_today={@plays_today}
      plays_yesterday={@plays_yesterday}
      plays_week={@plays_week}
      plays_prior_week={@plays_prior_week}
      days={@days}
      range_days={@range_days}
    />
  </.admin_page>
</Layouts.app>
