<Layouts.app {assigns}>
  <.admin_page page={:subtitle_providers} count={length(@providers)}>
    <:actions>
      <MydiaWeb.AdminSubtitleProvidersLive.Components.header_actions />
    </:actions>
    <MydiaWeb.AdminSubtitleProvidersLive.Components.providers_tab
      providers={@providers}
      circuit={@circuit}
    />

    <%= if assigns[:show_subtitle_provider_modal] do %>
      <MydiaWeb.AdminSubtitleProvidersLive.Components.provider_modal
        subtitle_provider_form={@subtitle_provider_form}
        subtitle_provider_mode={@subtitle_provider_mode}
      />
    <% end %>
  </.admin_page>
</Layouts.app>
