<Layouts.app {assigns}>
  <.admin_page active_tab={@active_tab}>
    <MydiaWeb.AdminRemoteAccessLive.Components.remote_access_panel
      ra_config={@ra_config}
      p2p_status={@p2p_status}
      show_add_url_modal={@show_add_url_modal}
      new_url={@new_url}
      show_advanced={@show_advanced}
    />
  </.admin_page>
</Layouts.app>
