<Layouts.app {assigns}>
  <.admin_page page={:storage_backends} count={length(@backends)}>
    <:actions>
      <MydiaWeb.AdminStorageBackendsLive.Components.header_actions />
    </:actions>

    <MydiaWeb.AdminStorageBackendsLive.Components.storage_backends_tab
      backends={@backends}
      testing={@testing}
    />

    <%= if assigns[:show_storage_backend_modal] do %>
      <MydiaWeb.AdminStorageBackendsLive.Components.storage_backend_modal
        storage_backend_form={@storage_backend_form}
        storage_backend_mode={@storage_backend_mode}
      />
    <% end %>
  </.admin_page>
</Layouts.app>
