<Layouts.app {assigns}>
  <.admin_page active_tab={@active_tab}>
    <MydiaWeb.AdminDownloadClientsLive.Components.download_clients_tab
      download_clients={@download_clients}
      client_health={@client_health}
    />

    <%!-- Download Client Modal --%>
    <%= if assigns[:show_download_client_modal] do %>
      <MydiaWeb.AdminDownloadClientsLive.Components.download_client_modal
        download_client_form={@download_client_form}
        download_client_mode={@download_client_mode}
        testing_download_client_connection={assigns[:testing_download_client_connection] || false}
      />
    <% end %>
  </.admin_page>
</Layouts.app>
