<Layouts.app {assigns}>
  <.admin_page active_tab={@active_tab}>
    <MydiaWeb.AdminIndexersLive.Components.indexers_tab
      indexers={@indexers}
      indexer_health={@indexer_health}
      library_indexers={@library_indexers}
      library_indexer_stats={@library_indexer_stats}
      cardigann_enabled={@cardigann_enabled}
      recently_disabled_indexer={@recently_disabled_indexer}
      flaresolverr_available={
        @flaresolverr_status.configured and @flaresolverr_status.status != :disabled
      }
    />

    <%!-- Indexer Modal --%>
    <%= if assigns[:show_indexer_modal] do %>
      <MydiaWeb.AdminIndexersLive.Modals.indexer_modal
        indexer_form={@indexer_form}
        indexer_mode={@indexer_mode}
        testing_indexer_connection={assigns[:testing_indexer_connection] || false}
        available_env_indexers={assigns[:available_env_indexers] || []}
        prowlarr_indexers={assigns[:prowlarr_indexers]}
        fetching_prowlarr_indexers={assigns[:fetching_prowlarr_indexers] || false}
        prowlarr_indexers_error={assigns[:prowlarr_indexers_error]}
        selected_prowlarr_indexer_ids={assigns[:selected_prowlarr_indexer_ids] || MapSet.new()}
      />
    <% end %>

    <%!-- Indexer Library Modal --%>
    <%= if assigns[:show_indexer_library_modal] and @cardigann_enabled do %>
      <MydiaWeb.AdminIndexersLive.Modals.indexer_library_modal
        definitions={@library_definitions}
        available_languages={@library_available_languages}
        filter_type={@library_filter_type}
        filter_language={@library_filter_language}
        filter_enabled={@library_filter_enabled}
        search_query={@library_search_query}
        syncing={@library_syncing}
        configuring_definition={@library_configuring_definition}
        config_form={@library_config_form}
      />
    <% end %>

    <%!-- Library Indexer Config Modal --%>
    <%= if assigns[:show_library_config_modal] and assigns[:configuring_library_indexer] do %>
      <MydiaWeb.AdminIndexersLive.Modals.library_config_modal
        configuring_library_indexer={@configuring_library_indexer}
        settings={@library_indexer_settings}
        testing={assigns[:library_config_testing] || false}
        test_result={assigns[:library_config_test_result]}
      />
    <% end %>
  </.admin_page>
</Layouts.app>
