<Layouts.app {assigns}>
  <.admin_page active_tab={@active_tab}>
    <MydiaWeb.AdminMediaServersLive.Components.media_servers_tab
      media_servers={@media_servers}
      media_server_health={@media_server_health}
      last_runs={@last_runs}
    />

    <%!-- Media Server Modal --%>
    <%= if assigns[:show_media_server_modal] do %>
      <MydiaWeb.AdminMediaServersLive.Components.media_server_modal
        media_server_form={@media_server_form}
        media_server_mode={@media_server_mode}
        testing_media_server_connection={assigns[:testing_media_server_connection] || false}
        plex_oauth_state={assigns[:plex_oauth_state] || :idle}
        plex_oauth_servers={assigns[:plex_oauth_servers] || []}
        plex_manual_entry={assigns[:plex_manual_entry] || false}
        plex_reachability={assigns[:plex_reachability] || :checking}
        plex_discovery={assigns[:plex_discovery_summary]}
      />
    <% end %>
  </.admin_page>
</Layouts.app>
