<Layouts.app {assigns}>
  <.admin_page page={:media_servers} count={length(@media_servers) + length(@plugin_instances)}>
    <:actions>
      <MydiaWeb.AdminMediaServersLive.Components.header_actions media_server_plugins={
        @media_server_plugins
      } />
    </:actions>

    <MydiaWeb.AdminMediaServersLive.Components.media_servers_tab
      media_servers={@media_servers}
      media_server_health={@media_server_health}
      last_runs={@last_runs}
      link_counts={@link_counts}
      plex_deprecations={@plex_deprecations}
      plugin_instances={@plugin_instances}
      plugin_instance_health={@plugin_instance_health}
      plugin_instance_runs={@plugin_instance_runs}
      plugin_instance_links={@plugin_instance_links}
    />

    <.live_component
      :if={@plugin_setup}
      module={MydiaWeb.PluginSetupLive.Modal}
      id="plugin-setup-modal"
      slug={@plugin_setup.slug}
      instance_id={@plugin_setup.instance_id}
      entry_step={@plugin_setup.entry_step}
    />

    <%= if assigns[:show_media_server_modal] do %>
      <MydiaWeb.AdminMediaServersLive.MediaServerModalComponents.media_server_modal
        media_server_form={@media_server_form}
        media_server_mode={@media_server_mode}
        testing_media_server_connection={assigns[:testing_media_server_connection] || false}
      />
    <% end %>

    <%= if assigns[:show_account_mapping_modal] do %>
      <MydiaWeb.AdminMediaServersLive.AccountMappingComponents.account_mapping_modal
        config={@account_mapping_config}
        state={@account_mapping_state}
        accounts={assigns[:account_mapping_accounts] || []}
        users={assigns[:account_mapping_users] || []}
        mapping={assigns[:account_mapping] || %{}}
        saving={assigns[:account_mapping_saving] || false}
      />
    <% end %>
  </.admin_page>
</Layouts.app>
