<Layouts.app {assigns}>
  <.admin_page active_tab={@active_tab}>
    <MydiaWeb.AdminLibraryPathsLive.Components.library_paths_tab
      library_paths={@library_paths}
      reorganizing_library_ids={@reorganizing_library_ids}
      reclassifying_library_ids={@reclassifying_library_ids}
    />

    <%!-- Library Path Modal --%>
    <%= if assigns[:show_library_path_modal] do %>
      <MydiaWeb.AdminLibraryPathsLive.Components.library_path_modal
        library_path_form={@library_path_form}
        library_path_mode={@library_path_mode}
      />
    <% end %>
  </.admin_page>
</Layouts.app>
